.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whole-page{
    padding: 0 1.5rem;
    margin-top: 1rem;
    width: 100vw;
}

.whole-page .mini-nav{
   display: flex;
   justify-content: space-between;
   padding:0 20px;
   
}

.whole-page .mini-nav .logo{
    font-weight: 500;
    font-size: clamp(.8rem, 1.2vw, 2rem);
    display: flex;
}

.whole-page .mini-nav h4{
    font-weight: 400;
    font-size: clamp(.8rem, 1.2vw, 2rem);
    text-align: center;
}

.whole-page .mini-nav h4 span{
    color: gray;
}

.whole-page .mini-nav .search{
    width: 15vw;
    height: 3vh;
    display: flex;
}

.whole-page .mini-nav .search input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(187, 187, 187);
    height: 3vh;
    width: 100%;
    border-radius: 3px;
    padding: 0 2vw;
    color: rgb(77, 77, 77);
}

.whole-page .mini-nav .search input::placeholder{
    color: grey;
}

.whole-page .mini-nav .search .btn{
    background: none;
    border: none;
    color: rgb(63, 63, 63);
    position: relative;
    cursor: pointer;
    right: 8%;
    top: 10%;
    
}

.movie-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.movie-cards .movie{
    width: 300px;
    margin: 1rem;
    border-radius:3px ;
    background-color: grey;
    position: relative;
    overflow: hidden;
    
}

.movie-cards .movie img{
    width: 100%;
}

.movie-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    font-weight: 500;
    margin-top: 0;
}

.movie-info span{
    background-color: black;
    padding: 0.25rem;
    border-radius: 3PX;
    font-weight: bold;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

@media only screen and (max-width: 900px) {
    .whole-page .mini-nav .search .btn{
        right: 12%;
        top: -10%;
    }

    .whole-page .mini-nav .search input{
        height: 2vh;
    }
}

@media only screen and (max-width: 640px) {
    .whole-page .mini-nav .search input{
        width: 100%;
    }

    .whole-page .mini-nav h4{
        font-size: clamp(.7rem, 1.2vw, 2rem);
    }

    .whole-page .mini-nav .search{
        width: 20vw;
    }

    .whole-page .mini-nav .search .btn{
        display: none;
    }

    .whole-page .mini-nav .search input::placeholder{
        text-align: center;
        font-size: clamp(.7rem, 1.2vw, 2rem);
    }

}