.big-poster{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    color: white;
}

.big-poster .big-poster-img{
    position: absolute;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

.big-poster .cast{
    position: relative;
    top: 40%;
    display: flex;
    flex-direction: column;
}

.big-poster .big-poster-bottom-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 73.8%;
    height: 8%;
    background: hsla(0, 0%, 0%, .5) ;
    padding: 0 1.5rem;
}

.big-poster .big-poster-bottom-bar .left{
    display: flex;
    gap: 1rem;
    font-size: clamp(.8rem, 1.2vw, 2rem);
}

.big-poster .big-poster-bottom-bar .left .dateNRating p span{
 color: #ff0000;
}

.big-poster .big-poster-bottom-bar .right{
    display: flex;
    gap: 1rem;
    font-size: clamp(.8rem, 1.2vw, 2rem);
}

.big-poster .big-poster-bottom-bar .right p span{
    color: red;
    margin-right: .4rem;
}

.lower-home-page{
    padding: 0 1.5rem;
    margin-top: 1rem;
}

.lower-home-page .mini-nav{
   display: flex;
   justify-content: space-between;
   
}

.lower-home-page .mini-nav h3{
    font-weight: 500;
    font-size: clamp(.8rem, 1.4vw, 2rem);
}

.lower-home-page .mini-nav h4{
    font-weight: 400;
    font-size: clamp(.8rem, 1.2vw, 2rem);
}

.lower-home-page .mini-nav h4 span{
    color: gray;
}

.lower-home-page .mini-nav .search{

}

.lower-home-page .mini-nav .search input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(187, 187, 187);
    height: 2.5vh;
    border-radius: 3px;
}

.lower-home-page .mini-nav .search .btn{
    background: none;
    border: none;
    position: absolute;
    right: 2.5%;
    top: 72.3%;
    color: rgb(63, 63, 63);
}