.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 1.5rem;
    height: 9vh;
}

.navbar .logo{
    font-size: clamp(1rem, 1.6vw, 2rem);
}

.navbar .pageLinks a{
    padding: 1rem;
    font-size: clamp(1rem, 1.6vw, 2rem);
}

.navbar .userStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.navbar .userStatus img{
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.navbar .userStatus h4{
    font-weight: 400;
    font-size: clamp(.9rem, 1.2vw, 2rem);
}